# Splitting:

In [86]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
data=pd.read_csv("Downloads/score.csv")
df=pd.DataFrame(data)
df.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      81
7    5.5      60
8    5.6      23
9    8.3      25

In [87]:
df.shape

(25, 2)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [89]:
df.drop([0],axis=0,inplace=True)
df.head()

   Hours  Scores
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20

In [90]:
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [91]:
df.head(10)

    Hours  Scores
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      81
7     5.5      60
8     5.6      23
9     8.3      25
10    7.7      85

In [92]:
x=df.drop('Scores',axis=1)
y=df['Scores']

In [93]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=101)

In [94]:
x_train.shape,x_test.shape

((16, 1), (8, 1))

In [95]:
y_train.shape,y_test.shape

((16,), (8,))

In [96]:
lr=LinearRegression()

In [97]:
model=lr.fit(x_train,y_train)

In [98]:
y_pred=model.predict(x_test)

In [99]:
df=pd.DataFrame({'y_test':y_test,'y_pred':y_pred})
df

    y_test     y_pred
20      30  31.131451
11      62  56.929707
22      35  39.999601
19      69  69.022639
8       23  54.511120
21      54  48.061556
3       75  77.890790
4       30  37.581015

In [100]:
print(mean_squared_error(y_test,y_pred))

143.2536062823335