In [63]:
import pandas as pd 
import datetime as datetime
data={
    'match no':[1,2,3,4,5],
    'date':['1990-02-13','1999-07-13','2000-07-13','2001-07-13','2002-07-13'],
    'opponents':['india','delhi','maharashtra','bangalore','maisoor'],
    'runs':[6,4,5,8,9],
    'balls':[10,12,15,20,18]
}
df=pd.DataFrame(data)
print(df)
df['runs'].agg(['sum','min','max','mean','median','count','var','std'])

   match no        date    opponents  runs  balls
0         1  1990-02-13        india     6     10
1         2  1999-07-13        delhi     4     12
2         3  2000-07-13  maharashtra     5     15
3         4  2001-07-13    bangalore     8     20
4         5  2002-07-13      maisoor     9     18

sum       32.000000
min        4.000000
max        9.000000
mean       6.400000
median     6.000000
count      5.000000
var        4.300000
std        2.073644
Name: runs, dtype: float64

In [64]:
df.groupby('opponents')['runs'].mean()

opponents
bangalore      8
delhi          4
india          6
maharashtra    5
maisoor        9
Name: runs, dtype: int64

In [65]:
import pandas as pd
import datetime as datetime
range_date=pd.date_range(start='1990-02-13',end='2000-07-13',freq='h')
print(range_date)

DatetimeIndex(['1990-02-13 00:00:00', '1990-02-13 01:00:00',
               '1990-02-13 02:00:00', '1990-02-13 03:00:00',
               '1990-02-13 04:00:00', '1990-02-13 05:00:00',
               '1990-02-13 06:00:00', '1990-02-13 07:00:00',
               '1990-02-13 08:00:00', '1990-02-13 09:00:00',
               ...
               '2000-07-12 15:00:00', '2000-07-12 16:00:00',
               '2000-07-12 17:00:00', '2000-07-12 18:00:00',
               '2000-07-12 19:00:00', '2000-07-12 20:00:00',
               '2000-07-12 21:00:00', '2000-07-12 22:00:00',
               '2000-07-12 23:00:00', '2000-07-13 00:00:00'],
              dtype='datetime64[ns]', length=91273, freq='H')

In [66]:
data={
    'match no':[1,2,3,4,5],
    'date':['1990-02-13','1999-07-13','2000-07-13','2001-07-13','2002-07-13'],
    'opponents':['india','delhi','maharashtra','bangalore','maisoor'],
    'runs':[6,4,5,8,9],
    'balls':[10,12,15,20,18]
}
df=pd.DataFrame(data)
fil=list(filter(lambda x: x>5, df['balls']))
print(fil)

[10, 12, 15, 20, 18]

In [67]:
df['opponents']=df['runs']+df['balls']/100
print(df['opponents'])

0    6.10
1    4.12
2    5.15
3    8.20
4    9.18
Name: opponents, dtype: float64

In [68]:
import pandas as pd
a=pd.Series([10,20,30,40,50])
b=pd.Series([40,50,60,70,80])
c=pd.concat([a,b]).drop_duplicates(keep=False)
print(c)

0    10
1    20
2    30
2    60
3    70
4    80
dtype: int64

In [69]:
print(a.min())
print(a.max())

10
50

In [70]:
print(b.sum())

300

In [71]:
print(a.mean())

30.0

In [72]:
print(b.median())

60.0

In [73]:
import pandas as pd
data={
    'Roll_No':[101,102,103,104,105],
    'Name':['Riya','Arjun','Sneha','Rakesh','Aditi'],
    'Age':[17,18,17,19,18],
    'Marks_math':[88,75,90,65,95],
    'Marks_Engg':[92,85,78,70,88],
    'Gender':['F','M','F','M','F']
}
df=pd.DataFrame(data)
print(df)

   Roll_No    Name  Age  Marks_math  Marks_Engg Gender
0      101    Riya   17          88          92      F
1      102   Arjun   18          75          85      M
2      103   Sneha   17          90          78      F
3      104  Rakesh   19          65          70      M
4      105   Aditi   18          95          88      F

In [74]:
print(df[['Name','Marks_Engg']])

     Name  Marks_Engg
0    Riya          92
1   Arjun          85
2   Sneha          78
3  Rakesh          70
4   Aditi          88

In [75]:
df['total_marks']=df['Marks_Engg']+df['Marks_math']
print(df['total_marks'])

0    180
1    160
2    168
3    135
4    183
Name: total_marks, dtype: int64

In [76]:
print(df)

   Roll_No    Name  Age  Marks_math  Marks_Engg Gender  total_marks
0      101    Riya   17          88          92      F          180
1      102   Arjun   18          75          85      M          160
2      103   Sneha   17          90          78      F          168
3      104  Rakesh   19          65          70      M          135
4      105   Aditi   18          95          88      F          183

In [77]:
print(df['Marks_math'].mean())

82.6

In [78]:
students_female=df[df['Gender']=='F']
print(students_female)

   Roll_No   Name  Age  Marks_math  Marks_Engg Gender  total_marks
0      101   Riya   17          88          92      F          180
2      103  Sneha   17          90          78      F          168
4      105  Aditi   18          95          88      F          183

In [79]:
a=df.sort_values(by='Marks_Engg',ascending=False)
print(df)

   Roll_No    Name  Age  Marks_math  Marks_Engg Gender  total_marks
0      101    Riya   17          88          92      F          180
1      102   Arjun   18          75          85      M          160
2      103   Sneha   17          90          78      F          168
3      104  Rakesh   19          65          70      M          135
4      105   Aditi   18          95          88      F          183

In [80]:
df['Gender']=df['Gender'].map({'F':'Female','M':'Male'})
print(df)

   Roll_No    Name  Age  Marks_math  Marks_Engg  Gender  total_marks
0      101    Riya   17          88          92  Female          180
1      102   Arjun   18          75          85    Male          160
2      103   Sneha   17          90          78  Female          168
3      104  Rakesh   19          65          70    Male          135
4      105   Aditi   18          95          88  Female          183

In [81]:
df['Result']=df['total_marks'].apply(lambda x:'Pass' if x>150 else 'False')
print(df)

   Roll_No    Name  Age  Marks_math  Marks_Engg  Gender  total_marks Result
0      101    Riya   17          88          92  Female          180   Pass
1      102   Arjun   18          75          85    Male          160   Pass
2      103   Sneha   17          90          78  Female          168   Pass
3      104  Rakesh   19          65          70    Male          135  False
4      105   Aditi   18          95          88  Female          183   Pass

In [82]:
upper=list(map(lambda x:x.upper(),df['Name']))
print(upper)

['RIYA', 'ARJUN', 'SNEHA', 'RAKESH', 'ADITI']

In [83]:
df['Name']=df['Name'].map(str.upper)
print(df)

   Roll_No    Name  Age  Marks_math  Marks_Engg  Gender  total_marks Result
0      101    RIYA   17          88          92  Female          180   Pass
1      102   ARJUN   18          75          85    Male          160   Pass
2      103   SNEHA   17          90          78  Female          168   Pass
3      104  RAKESH   19          65          70    Male          135  False
4      105   ADITI   18          95          88  Female          183   Pass

In [92]:
d=list(filter(lambda x:x>80, df['Marks_math']))
print(d)

[88, 90, 95]

In [94]:
df['Grade']=df['total_marks'].apply(lambda x: 'A' if x>=170 else 'B' if x>=150 else 'C')
print(df)

   Roll_No    Name  Age  Marks_math  Marks_Engg  Gender  total_marks Result  \
0      101    RIYA   17          88          92  Female          180   Pass
1      102   ARJUN   18          75          85    Male          160   Pass
2      103   SNEHA   17          90          78  Female          168   Pass
3      104  RAKESH   19          65          70    Male          135  False
4      105   ADITI   18          95          88  Female          183   Pass

  Grade
0     A
1     B
2     B
3     C
4     A

In [97]:
from functools import reduce
reduce=reduce(lambda x,y: x+y,df['Marks_math'])
print(reduce)

413

In [101]:
count=(df['Age']<18).sum()
print(count)

2

In [103]:
df['Average']=(df['Marks_math']+df['Marks_Engg'])/2
print(df)

   Roll_No    Name  Age  Marks_math  Marks_Engg  Gender  total_marks Result  \
0      101    RIYA   17          88          92  Female          180   Pass
1      102   ARJUN   18          75          85    Male          160   Pass
2      103   SNEHA   17          90          78  Female          168   Pass
3      104  RAKESH   19          65          70    Male          135  False
4      105   ADITI   18          95          88  Female          183   Pass

  Grade  Average
0     A     90.0
1     B     80.0
2     B     84.0
3     C     67.5
4     A     91.5

In [115]:
result=df[df['Marks_Engg'] > df['Marks_math']]
print(result)

   Roll_No    Name  Age  Marks_math  Marks_Engg  Gender  total_marks Result  \
0      101    RIYA   17          88          92  Female          180   Pass
1      102   ARJUN   18          75          85    Male          160   Pass
3      104  RAKESH   19          65          70    Male          135  False

  Grade  Average
0     A     90.0
1     B     80.0
3     C     67.5

In [117]:
df.groupby('Gender')['Average'].mean()

Gender
Female    88.50
Male      73.75
Name: Average, dtype: float64

In [118]:
print(df['total_marks'].max())

183